488-7(노드레드).txt
[{"id":"9257d0a822d09cad","type":"mqtt in","z":"39bbe9fb0967ad82","name":"","topic":"nockanda/hass_out","qos":"2","datatype":"auto","broker":"47ebe7f10fbe63e9","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":180,"wires":[["f53bf6eac2c80eba"]]},{"id":"f53bf6eac2c80eba","type":"json","z":"39bbe9fb0967ad82","name":"","property":"payload","action":"","pretty":false,"x":270,"y":180,"wires":[["82e53846bc4e3a96","c7f08185727b2811"]]},{"id":"cb7af9f3d7403c90","type":"api-call-service","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.node_red_temp"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":360,"wires":[[]]},{"id":"33db48b472e0d89d","type":"function","z":"39bbe9fb0967ad82","name":"mqtt데이터를 call서비스와 연결하는노드","func":"var data = msg.payload;\n\nvar mqtt = {\n     payload:{\n         data:{\n             value:data\n         }\n     }\n};\n\nreturn mqtt;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":360,"wires":[["cb7af9f3d7403c90"]]},{"id":"82e53846bc4e3a96","type":"change","z":"39bbe9fb0967ad82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TEMP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":280,"wires":[["33db48b472e0d89d"]]},{"id":"c7f08185727b2811","type":"change","z":"39bbe9fb0967ad82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.HUMI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":440,"wires":[["4bdd5422030fe502"]]},{"id":"4bdd5422030fe502","type":"function","z":"39bbe9fb0967ad82","name":"mqtt데이터를 call서비스와 연결하는노드","func":"var data = msg.payload;\n\nvar mqtt = {\n     payload:{\n         data:{\n             value:data\n         }\n     }\n};\n\nreturn mqtt;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":500,"wires":[["7389c22a0de31940"]]},{"id":"7389c22a0de31940","type":"api-call-service","z":"39bbe9fb0967ad82","name":"","server":"a16f3899.ea4888","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.node_red_humi"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":500,"wires":[[]]},{"id":"93a8ef609b1fd598","type":"inject","z":"39bbe9fb0967ad82","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"녹칸다의 노드레드입니다!","payloadType":"str","x":190,"y":600,"wires":[["2084e8919509e904"]]},{"id":"6ab9b183d1796c66","type":"inject","z":"39bbe9fb0967ad82","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"노드레드도 구독과 좋아요!","payloadType":"str","x":190,"y":660,"wires":[["2084e8919509e904"]]},{"id":"2084e8919509e904","type":"mqtt out","z":"39bbe9fb0967ad82","name":"","topic":"nockanda/hass_in","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47ebe7f10fbe63e9","x":450,"y":620,"wires":[]},{"id":"47ebe7f10fbe63e9","type":"mqtt-broker","name":"","broker":"192.168.0.11","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a16f3899.ea4888","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""}]